* {box-sizing: border-box;}

* body {
  margin: 10px;
}

.container-lg {
  max-width: 90% !important;
}

.jumbotron {
  /* width: 80%;
  margin-left: auto;
  margin-right: auto; */
}

.modal-full {
  max-width: none !important;
  margin: 10px !important;
}

#exampleModal {
  padding: 0px !important;
}

.form_grup {
   position: relative; /* Положение элемента устанавливается относительно его исходного места. */
  margin-bottom: 32px; /* Внешний отступ снизу элемента*/
}

select, input, button, .form_label {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  color: #595b5e;
}

input {
  text-align-last: center;
}

.table {
  border-collapse: collapse;
  border-width: thin;
}

thead {
  align-content: center;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  border: 1px solid transparent;
  /* padding: 10px; */
  font-size: 12px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #e9e9e9;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #F5E1A6;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.input-numeral:focus {
  /* background-image: url("img/rub2.png"); */
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 16px;
}

#decision {
  line-height: 1.5;
  text-indent: 40px;
}

.table_result {
white-space: nowrap;
}

/* .total_count {
  text-align: center;
}

#total_count:hover {
  color: #e0a800;
  cursor: pointer;
  text-decoration: underline;
} */

.card-header, #menu_osago_penalty:hover, #menu_osago_fs:hover {
  cursor: pointer;
}

#penalty_graph{
  /* background-color: red; */
  /* margin-left: auto;
  margin-right: auto; */
}
#div_svg {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 400px;
  /* background-color: yellow; */
}

.selected {
  opacity: 0.6;
  background-color: #F5E1A6;
  border-radius: 10px;
  padding: 10px;
}

/* .draggable_element {

} */